body
{
    font-family: Arial;
}
h2 
{
    font-size: 28px
}
span
{
    display: block;
    color: gray;
}
img
{
    width: 150px;
    height: 180px;
    border: 2px solid gray;
    padding: 5px;
    margin: 1px;
}